<!DOCTYPE html>
<html>

<head>
    <title>
        Example
    </title>
    <link rel='stylesheet' type="text/css" href="static/style.css">
    <link rel="icon"
        href="https://static.wixstatic.com/media/336ecc_1e09ceedc8de4ec086b18acdb5c95b9c~mv2.jpeg/v1/crop/x_45,y_47,w_317,h_330/fill/w_140,h_146,al_c,q_80,usm_0.66_1.00_0.01/1557669187523_JPEG.webp"
        sizes="32x32" type="image/png">
</head>

<body>
    Say hello to
    {{ name }}
    {{ post_id }}
    <script src='static/script.js'></script>
</body>

</html>